<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="ion-margin ion-text-center">
    <ion-button expand="block" color="medium" (click)="authService.signInWithGoogle()">
      <ion-icon size="medium" name="logo-google"></ion-icon>
      <ion-label>Login with google</ion-label>
    </ion-button>

    <ion-button expand="block" color="medium" (click)="authService.signInWithFacebook()">
      <ion-icon size="medium" name="logo-facebook"></ion-icon>
      <ion-label>Login with facebook</ion-label>
    </ion-button>
  </ion-list>
</ion-content>

