<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-stretch">

  <ion-grid>
    <ion-row>
      <ion-col offsetXs="0" offsetSm="3" offsetMd="4" sizeXs="12" sizeSm="6" sizeMd="4">

        <!-- Add at least 1 extra provider if you want to use this in your project. -->
        <ion-item class="ion-margin-vertical" color="light" (click)="authService.signInWithGoogle()">
          <div slot="start">
            <ion-icon size="large" name="logo-google"></ion-icon>
          </div>
          <ion-label>Login in met Google</ion-label>
        </ion-item>



      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
