<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dca" >
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>DCA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="markets">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Markets</ion-label>
    </ion-tab-button>

 <!--   <ion-tab-button tab="nfts">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>NFTS</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>
