<ion-header>
  <ion-toolbar>
    <ion-title slot="start">News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-select interface="popover" placeholder="Select category" (ionChange)="changeCategory($event)"
                      [(ngModel)]="selectedCategory">
            <ion-select-option value="allCategories">all</ion-select-option>
            <ion-select-option *ngFor="let category of allCategories |async"
                               [value]="category.categoryName">{{category.categoryName}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-select interface="popover" placeholder="Select source" (ionChange)="changeFeed($event)"
                      [(ngModel)]="selectedFeed">
            <ion-select-option value="all">all</ion-select-option>
            <ion-select-option *ngFor="let feed of allFeeds | async "
                               [value]="feed.key">{{feed.key}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let news of filteredNews | async" >
    <ion-card-header>
      <ion-card-title>{{news.title}}</ion-card-title>
      <ion-card-subtitle> source: {{news.source}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{news.body}}
      <br>
      <ion-button color="none" (click)="openNews(news.url)">read more</ion-button>
      <ion-button color="none" (click)="shareOnTwitter(news.body, news.url)">share on Twitter</ion-button>

    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>
        Categories: {{news.categories}}
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center"
       *ngIf="(filteredNews | async)?.length <= 0">
    <h3>No news found matching these filters</h3>
  </div>
</ion-content>
