<ion-header>
  <ion-toolbar>
    <ion-title>Markets</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [scrollable]="true" (ionChange)="segmentChanged()" [(ngModel)]="selectedSegment">
      <ion-segment-button [value]="segments[0]">
        {{segments[0]}}
      </ion-segment-button>
      <ion-segment-button [value]="segments[1]">
        {{segments[1]}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper [config]="config" (activeIndexChange)="onActiveIndexChange()">

    <ng-template swiperSlide>
      <ion-card *ngFor="let c of allCoins | async">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <img [src]="c.image"/>
            </ion-col>
            <ion-col>
              <ion-card-title>{{c.symbol}}</ion-card-title>
              <ion-card-subtitle>
                {{c.name}}
              </ion-card-subtitle>
            </ion-col>
            <ion-col size="auto">
              {{c.current_price.toString()}}
            </ion-col>
          </ion-row>
          <ion-row size="auto">
            <ion-col offset="2">

            </ion-col>
            <ion-col size="auto">
              {{c.price_change_percentage_24h.toString()}} %
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-list>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ng-template>



  </swiper>


</ion-content>
